<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lawsiji.txtcheck.dao.WordDao">

    <!-- 根据分类查询极限词-->
    <select id="selectByPid" resultType="map" parameterType="java.lang.Integer">
        select * from word where WORD_PID=#{pid};
    </select>

    <!-- 根据分类查询极限词-->
    <select id="selectByWord" resultType="string" parameterType="map">
        select * from word where WORD=#{word} and WORD_PID=#{wordPid};
    </select>

    <!--根据不同分类插入数据  ——批量插入数据-->
    <insert id="insertWord" parameterType="List">
        insert into word (WORD_PID,WORD) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.wordPid},#{item.word})
        </foreach>
    </insert>

    <!--根据不同分类插入数据  ——逐条插入数据-->
    <insert id="insertWordOne" parameterType="map">
        insert into word (WORD_PID,WORD) values (#{wordPid},#{word})
    </insert>

    <!--删除数据根据分类id-->
    <delete id="deleteWordByPid" parameterType="java.lang.Integer">
        delete from word where WORD_PID=#{wordPid}
    </delete>

</mapper>